<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

	<properties>
		<property name="basePath">./logs</property>
	</properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level - %msg%n" />
		</Console>
		<File name="File" fileName="${basePath}/automation.logs"
			append="false">
			<PatternLayout>
				<Pattern>%d{HH:mm:ss.SSS} [%t] %-5level - %msg%n</Pattern>
			</PatternLayout>
		</File>
	</Appenders>
	<Loggers>
		<Logger name="com.test" level="info" additivity="true">
			<AppenderRef ref="Console" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="File" />
		</Root>
	</Loggers>
</Configuration>